</div>
<div class="col-lg-4 col-12 sidebar-break-md sidebar-widget-area">
    <div class="widget widget-service">
        <div class="heading-layout3 mg-b-0">
            <h3 class="mg-b-8">Our Services</h3>
        </div>
        <div class="service-list">
            <ul>
                <li>
                    <a href="{{ site.url }}/services/concrete-staining-utah"><i class="fas fa-long-arrow-alt-right"></i>Concrete Staining</a>
                </li>
                <li>
                    <a href="{{ site.url }}/services/decorative-concrete-utah"><i class="fas fa-long-arrow-alt-right"></i>Decorative Concrete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="widget widget-download">
        <div class="heading-layout3">
            <h3>Check Out Our Color Charts</h3>
        </div>
        <ul class="item-list">
            <li>
                <a href="{{ site.url }}/docs/reflector_chart.pdf" target="_blank"><i class="far fa-file-pdf"></i>Metallic Epoxy PDF</a>
            </li>
            <li>
                <a href="{{ site.url }}/docs/e100_epoxy_chart.pdf" target="_blank"><i class="far fa-file-pdf"></i>Solid Color Epoxy Epoxy PDF</a>
            </li>
            <li>
                <a href="{{ site.url }}/docs/pcc_chart.pdf" target="_blank"><i class="far fa-file-pdf"></i>Concrete Overlay PDF</a>
            </li>
            <li>
                <a href="{{ site.url }}/docs/hydrastone_chart.pdf" target="_blank"><i class="far fa-file-pdf"></i>Dye Stain PDF</a>
            </li>
            <li>
                <a href="{{ site.url }}/docs/chem_stone_chart.pdf" target="_blank"><i class="far fa-file-pdf"></i>Acid Stain PDF</a>
            </li>
        </ul>
    </div>
    <div class="widget widget-form d-none d-sm-block">
        <div class="heading-layout3">
            <h3>Let's Talk About Your Project</h3>
        </div>
        {% include form.html %}
    </div>
    <div class="widget widget-banner d-none d-sm-block">
        <div class="banner-img">
            <img src="{{ site.url }}/img/metallic-epoxy-floor-in-waiting-room.jpg" alt="Metallic Epoxy Flooring">
            <div class="item-content">
                <div class="big-text">Free Estimates</div>
                <div class="sub-text">For All Projects Inside Of Utah</div>
                <a href="{{ site.url }}/contact" class="item-btn">Make An Appointment</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>