<!-- Call To Action Area Start Here -->
<section class="action-wrap-layout1 bg-common" data-bg-image="../img/figure/banner-shape.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-12">
                <div class="action-box-layout1">
                    <h2 class="item-title">Get Your Project Started Today!</h2>
                </div>
            </div>
            <div class="col-lg-3 col-12 d-flex justify-content-lg-end justify-content-center">
                <div class="action-box-layout1">
                   <a href="#" class="btn-fill-xl box-shadow bg-textprimary text-accent">GET A QUOTE<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End Here -->