<!-- Call To Action Area Start Here -->
<section class="action-wrap-layout1 bg-common" data-bg-image="http://localhost:4000/img/figure/banner-shape.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-12">
                <div class="action-box-layout1">
                    <h2 class="item-title">Get Your Roofing Project Started Today!</h2>
                </div>
            </div>
            <div class="col-lg-3 col-12 d-flex justify-content-lg-end justify-content-center">
                <div class="action-box-layout1">
                   <a href="#" class="btn-fill-xl box-shadow bg-textprimary text-accent">GET A QUOTE<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End Here -->
<!-- Contact Area Start Here -->
<section class="contact-wrap-layout1">
    <div id="googleMap" class="google-map" style="width:100%; height:620px; border-radius: 0;"></div>
    <div class="contact-box-layout1">
        <h3 class="item-title">Contact Information</h3>
        <div class="media">
            <div class="item-icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="media-body space-md">
                <ul>
                    <li>59 Street aorem Street, Chicago,</li>
                    <li>Newyork City</li>
                </ul>
            </div>
        </div>
        <div class="media">
            <div class="item-icon">
                <i class="fas fa-phone-volume"></i>
            </div>
            <div class="media-body space-md">
                <ul>
                    <li>+880-96-100-98</li>
                    <li>+880-96-100-98</li>
                </ul>
            </div>
        </div>
        <div class="media">
            <div class="item-icon">
                <i class="far fa-envelope"></i>
            </div>
            <div class="media-body space-md">
                <ul>
                    <li>info@gmail.com</li>
                    <li>info@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Contact Area End Here -->