<form class="contact-form-box" id="contact-form-2" name="contact" method="POST" data-netlify="true">
    <div class="row">
        <div class="col-12 form-group">
            <input type="text" placeholder="Name*" class="form-control" name="name" data-error="Name field is required" required>
        </div>
        <div class="col-12 form-group">
            <input type="email" placeholder="E-mail*" class="form-control" name="email" data-error="email field is required" required>
        </div>
        <div class="col-12 form-group">
            <input type="text" placeholder="Phone*" class="form-control" name="phone" data-error="Phone field is required" required>
        </div>
        <div class="col-12 form-group">
            <label>What service are you interested in?</label>
            <select class="select2" name="service" data-error="This field is required">
                <option value="Epoxy Flooring">Epoxy Flooring</option>
                <option value="Decorative Concrete">Decorative Concrete</option>
                <option value="New Concrete">New Concrete</option>
                <option value="Something Else">Something Else</option>
                <option value="Not Sure">Not Sure</option>
            </select>
        </div>
        <div class="col-12 form-group">
            <label>What kind of project do you have?</label>
            <select class="select2" name="type" data-error="This field is required">
                <option value="Residential">Residential</option>
                <option value="Commercial">Commercial</option>
                <option value="Industrial">Industrial</option>
            </select>
        </div>
        <div class="col-12 form-group">
            <input type="text" placeholder="How many square feet?" class="form-control" name="sqft" data-error="Estimated square footage field is required" required>
        </div>
        <div class="col-12 form-group">
            <textarea name="about" placeholder="Tell us about your project..." class="form-control" data-error="About field is required" cols="30" rows="4" required></textarea>
        </div>
        <div class="col-12 form-group">
            <button type="submit" class="fw-btn-fill mg-t-10 bg-Primary text-textprimary">SEND<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</form>

<form class="contact-form-box" name="contact" method="POST" data-netlify="true">
    <p class="form-group">
      <label>Your Name: <input class="form-control" type="text" name="name" /></label>   
    </p>
    <p class="form-group">
      <label>Your Email: <input class="form-control" type="email" name="email" /></label>
    </p>
    <p class="form-group">
      <label>Your Role: <select name="role[]" multiple>
        <option value="leader">Leader</option>
        <option value="follower">Follower</option>
      </select></label>
    </p>
    <p class="form-group">
      <label>Message: <textarea class="form-control" name="message"></textarea></label>
    </p>
    <p class="form-group">
      <button type="submit">Send</button>
    </p>
  </form>