<form class="contact-form-box" name="contact" method="POST" data-netlify="true">
    <div class="row">
        <div class="col-12 form-group">
          <label>Your Name: <input class="form-control" type="text" name="name" required /></label>
        </div>
        <div class="col-12 form-group">
          <label>Your Email: <input class="form-control" type="email" name="email" required /></label>
        </div>
        <div class="col-12 form-group">
          <label>Your Phone Number: <input class="form-control" type="text" name="phone" required /></label>
        </div>
        <div class="col-12 form-group">
            <label>What service are you interested in?
            <select class="select2" name="service[]" required>
                <option value="Epoxy Flooring">Epoxy Flooring</option>
                <option value="Decorative Concrete">Decorative Concrete</option>
                <option value="New Concrete">New Concrete</option>
                <option value="Something Else">Something Else</option>
                <option value="Not Sure">Not Sure</option>
            </select>
          </label>
        </div>
        <div class="col-12 form-group">
          <label>Estimated Square Footage: <input class="form-control" type="text" name="sqft" required /></label>
        </div>
        <div class="col-12">
          <textarea class="form-control" name="about" cols="30" rows="4" required></textarea>
        </div>
        <div class="col-12 form-group">
            <button type="submit" class="fw-btn-fill mg-t-10 bg-Primary text-textprimary">SEND<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</form>