<form class="contact-form-box" id="contact-form-2" netlify action="/contact/thanks">
    <div class="row">
        <div class="col-12 form-group">
            <input type="text" placeholder="Name*" class="form-control" name="name" data-error="Name field is required" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <input type="email" placeholder="E-mail*" class="form-control" name="email" data-error="email field is required" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <input type="text" placeholder="Phone*" class="form-control" name="phone" data-error="Phone field is required" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <select class="select2" name="service">
                <option value="0">Epoxy Flooring</option>
                <option value="Australia">Decorative Concrete</option>
                <option value="England">New Concrete</option>
                <option value="London">Something Else</option>
                <option value="United States">Not Sure</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <select class="select2" name="type">
                <option value="0">Residential</option>
                <option value="Australia">Commercial</option>
                <option value="England">Industrial</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <input type="text" placeholder="How many square feet?" class="form-control" name="sqft" data-error="Estimated square footage field is required" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <textarea name="about" placeholder="Tell us about your project..." class="form-control" data-error="About field is required" cols="30" rows="4" required></textarea>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-12 form-group">
            <button type="submit" class="fw-btn-fill mg-t-10 bg-Primary text-textprimary">SEND<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
    <div class="form-response"></div>
</form>