<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "Home",
    "item": "https://eliteconcreteutah.com/"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "Services",
    "item": "https://eliteconcreteutah.com/services/"  
  },{
    "@type": "ListItem", 
    "position": 3, 
    "name": "Concrete Staining",
    "item": "https://eliteconcreteutah.com/services/concrete-staining-utah/"  
  }]
}
</script>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Service",
      "provider": {
        "@type": "GeneralContractor",
        "name": "Elite Concrete Utah",
        "image": "https://eliteconcreteutah.com/img/Elite-Concrete-Logo.png",
        "@id": "https://eliteconcreteutah.com",
        "url": "https://eliteconcreteutah.com",
        "telephone": "+18015507496",
        "priceRange": "$$",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "3596 South 300 West #10",
          "addressLocality": "Salt Lake City",
          "addressRegion": "UT",
          "postalCode": "84115",
          "addressCountry": "US"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 40.6929301,
          "longitude": -111.9001526
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "07:00",
          "closes": "19:00"
        },
        "sameAs": [
          "https://www.facebook.com/eliteconcreteut/",
          "https://twitter.com/eliteconcreteut",
          "https://www.instagram.com/eliteconcreteut/",
          "https://www.pinterest.com/eliteconcreteut/",
          "https://eliteconcreteutah.com/"
        ]
      },
      "logo": {
          "@id": "https://cdn.ckitchen.com/i_l/logos/ckitchen.png"
      },
      "image": {
          "@type": "ImageObject",
          "url": "https://www.ckitchen.com/crm/userfiles/2a06815c-a613-4616-94cf-ebffa45f5734.jpg",
          "height": "565",
          "width": "847",
          "@id": "https://www.ckitchen.com/crm/userfiles/2a06815c-a613-4616-94cf-ebffa45f5734.jpg"
      },
      "brand": {
          "@id": "https://www.ckitchen.com/"
      },
      "additionalType": "https://en.wikipedia.org/wiki/Consultant",
      "url": "https://www.ckitchen.com/design/consulting/",
      "areaServed": "http://www.wikidata.org/entity/Q60",
      "description": "The role of the food service operation consultant is to guide the client in the following ways. First, a general review of the project and the available square footage for storage, prep, production and clean up. Also the \"front of the house\" food displays, anticipated seating of the dining/lounge and/or bar as applicable, the traffic patterns that include entry, delivery and trash removal.  Next, the client's menu is reviewed and equipment is properly matched for its production. The future expansion or changes in the menu are also considered. The proper layout of the vital kitchen areas will have a major impact on cost savings to the owner/operator. Included in these savings are labor, breakage, food waste, food yield, energy efficiencies and waste handling.  Consulting services are offered independent of a complete project or as part of a design.",
      "name": "Food Service Operation Consulting",
      "@id": "https://www.ckitchen.com/design/consulting/"
  }
  </script>