<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "GeneralContractor",
      "name": "Elite Concrete Utah",
      "image": "https://eliteconcreteutah.com/img/Elite-Concrete-Logo.png",
      "@id": "https://eliteconcreteutah.com",
      "url": "https://eliteconcreteutah.com",
      "telephone": "+18015507496",
      "priceRange": "$$",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "3596 South 300 West #10",
        "addressLocality": "Salt Lake City",
        "addressRegion": "UT",
        "postalCode": "84115",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.6929301,
        "longitude": -111.9001526
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "07:00",
        "closes": "19:00"
      },
      "sameAs": [
        "https://www.facebook.com/eliteconcreteut/",
        "https://twitter.com/eliteconcreteut",
        "https://www.instagram.com/eliteconcreteut/",
        "https://www.pinterest.com/eliteconcreteut/",
        "https://eliteconcreteutah.com/"
      ]
    }
    </script>