---
layout: default
---

<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/h1.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>About Elite Concrete Utah</h1>
                    <ul>
                        <li>
                            <a href="{{ site.url }}">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here --> 
<!-- About Us Area Start Here --> 
<section class="about-wrap-layout6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-12">
                <div class="heading-layout1">
                    <h2>We Provide A Wide Range Of Concrete And Epoxy Services All Across Utah</h2>
                    <p> Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the when an unknown printer took a galley of type and scrambled 
                        it to make a type specimen book. It has survived not only five centuries but also the leap into 
                        electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here --> 
<!-- About Us Area Start Here --> 
<section class="about-wrap-layout7 bg-shape-2">
    <div class="about-box-layout9">
        <div class="single-item left-item">
            <div class="item-content">
                <h2 class="item-title">Our History</h2>
                <p>Wesimply dummy text offer the printing and type setting industry. Lorem Ipsum has been 
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took 
                    a galley of type and scrambled it to make a type specimen book. It has survived not 
                    only five centuries, but also the leap into electronic type aeasetting remaining essentially 
                    unchanged. It was popularised in the area tehcnology with the release.</p>
            </div>
        </div>
        <div class="single-item right-item">
            <img src="{{ site.url }}/img/about-elite-concrete-utah.jpg" alt="About Elite Concrete Utah">
        </div>
    </div>
</section>
<!-- About Us Area End Here --> 
<!-- Why Choose Area Start Here -->
<section class="why-choose-wrap-layout1">
    <div class="container">
        <div class="heading-layout1">
            <div class="item-subtitle">Our Speciality</div>
            <h2>Why Choose Us</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="why-choose-box-layout1">
                    <div class="item-img">
                        <img src="img/figure/why-choose.jpg" alt="why choose">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"> <a href="#">Innovation</a></h3>
                        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="why-choose-box-layout1">
                    <div class="item-img">
                        <img src="img/figure/why-choose1.jpg" alt="why choose">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"> <a href="#">Commitment to Quality</a></h3>
                        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-block d-md-none d-lg-block">
                <div class="why-choose-box-layout1">
                    <div class="item-img">
                        <img src="img/figure/why-choose2.jpg" alt="why choose">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"> <a href="#">Core Values</a></h3>
                        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Area End Here -->