---
layout: default
---

 <!-- Inne Page Banner Area Start Here -->
 <section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Frequently Ask Any Question</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Faq's</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Faq Page Area Start Here -->
<section class="faq-page-wrap-layout1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="faq-box-layout1">
                    <div class="faq-search-box">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search Your Ans . . .">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="fas fa-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="faq-page-accordion">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <div class="panel-title">
                                        <a aria-expanded="false" class="accordion-toggle collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne">What is the procedure to join with your
                                            company?</a>
                                    </div>
                                </div>
                                <div aria-expanded="false" id="collapseOne" role="tabpanel"
                                    class="panel-collapse collapse show">
                                    <div class="panel-body">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                            has roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000
                                            years old. Richard
                                            McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a aria-expanded="false" class="accordion-toggle collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">We bring together the best people to the
                                            world?</a>
                                    </div>
                                </div>
                                <div aria-expanded="false" id="collapseTwo" role="tabpanel"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                            has roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000
                                            years old. Richard
                                            McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a aria-expanded="false" class="accordion-toggle collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseThree">What makes you special from others?</a>
                                    </div>
                                </div>
                                <div aria-expanded="false" id="collapseThree" role="tabpanel"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                            has roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000
                                            years old. Richard
                                            McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a aria-expanded="false" class="accordion-toggle collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseFour">Submit your sponsorship request easy way?</a>
                                    </div>
                                </div>
                                <div aria-expanded="false" id="collapseFour" role="tabpanel"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                            has roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000
                                            years old. Richard
                                            McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a aria-expanded="false" class="accordion-toggle collapsed"
                                            data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseFive">Why would a successful entrepreneur hire a
                                            coach?</a>
                                    </div>
                                </div>
                                <div aria-expanded="false" id="collapseFive" role="tabpanel"
                                    class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                            has roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000
                                            years old. Richard
                                            McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked up one of the more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-break-md sidebar-widget-area">
                <div class="widget widget-form">
                    <div class="heading-layout3">
                        <h3 class="mg-b-15">Have Any Question?</h3>
                        <p>when an unknown printer took a galley of
                            type and scrambled it to make.</p>
                    </div>
                    <form class="contact-form-box">
                        <div class="row">
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Name *" class="form-control" name="name"
                                    data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="email" placeholder="E-mail *" class="form-control" name="email"
                                    data-error="E-mail field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Phone *" class="form-control" name="phone"
                                    data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Subject *" class="form-control" name="subject"
                                    data-error="Subjects field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea placeholder="Comments" class="textarea form-control" name="message"
                                    id="form-message" rows="4" cols="20" data-error="Message field is required"
                                    required=""></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="item-btn">Send Now</button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq Page Area End Here -->