---
layout: default
---
 
 <!-- Slider Area Start Here -->
  <section class="slick-slider-wrap-layout1">
    <div class="slick-slider-layout1">
        <div class="slick-carousel slick-content" data-slick='{
            "slidesToShow": 1,
            "slidesToShowTab": 1,
            "slidesToShowMobile": 1,
            "slidesToShowMobiles": 1,
            "slidesToScroll": 1,
            "speed": 1000,
            "autoplaySpeed": 2000,
            "dots": false,
            "arrows": false,
            "lazyLoad": "progressive",
            "pauseOnHover": true,
            "autoplay": true,
            "centerMode": true,
            "adaptiveHeight": false,
            "rtl": false,
            "asNavFor": ".slick-nav"
            }'>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h1.png" alt="decorative concrete overlays">
                    <div class="item-content">
                        <div class="big-text">Concrete Overlays</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h2.png" alt="epoxy flooring installer">
                    <div class="item-content">
                        <div class="big-text">Epoxy Flooring</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h3.png" alt="polished concrete floor">
                    <div class="item-content">
                        <div class="big-text">Concrete Polishing</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h4.png" alt="commercial flooring solutions">
                    <div class="item-content">
                        <div class="big-text">Commercial Floor Coatings</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h5.png" alt="residential flooring">
                    <div class="item-content">
                        <div class="big-text">Residential Flooring</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h6.png" alt="Industrial flooring contractor">
                    <div class="item-content">
                        <div class="big-text">Industrial Coatings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-nav-wrap">
            <div class="container">
                <div class="slick-carousel slick-nav" data-slick='{
                    "slidesToShow": 6,
                    "slidesToShowTab": 5,
                    "slidesToShowMobile": 3,
                    "slidesToShowMobiles": 2,
                    "slidesToScroll": 1,
                    "speed": 1000,
                    "autoplaySpeed": 2000,
                    "dots": false,
                    "arrows": false,
                    "lazyLoad": "progressive",
                    "pauseOnHover": true,
                    "autoplay": true,
                    "focusOnSelect": true,
                    "centerMode": false,
                    "adaptiveHeight": false,
                    "rtl": false,
                    "asNavFor": ".slick-content",
                    "prevArrow": "<span class=\"slick-prev slick-navigation\"><i class=\"flaticon-back\"></i></span>",
                    "nextArrow": "<span class=\"slick-next slick-navigation\"><i class=\"flaticon-next\"></i></span>"
                    }'>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-4"></i>
                        </div>
                        <h4 class="item-title">Concrete Overlays</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof"></i>
                        </div>
                        <h4 class="item-title">Epoxy Flooring</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-1"></i>
                        </div>
                        <h4 class="item-title">Concrete Polishing</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-3"></i>
                        </div>
                        <h4 class="item-title">Commercial</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-2"></i>
                        </div>
                        <h4 class="item-title">Residential</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-broken-house"></i>
                        </div>
                        <h4 class="item-title">Industrial</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Area End Here -->
 
 <!-- About Us Area Start Here -->
 <section class="about-wrap-layout2 bg-shape-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="about-box-layout2">
                    <div class="item-subtitle">Who We are</div>
                    <h2 class="item-title">Utah's Leading Concrete Contractor</h2>
                    <p>We specialize in decorative concrete coatings, epoxy flooring and industrial coatings. With over 20 years of experience we are proud to call ourselves the leading concrete contractor in the state of Utah. It doens’t matter if your project is big, small or somewhere inbetween. Our wide range of services can fit any project!</p>
                    <div class="item-award">
                        <div class="row">
                            <div class="col-4">
                                <div class="item-img">
                                    <img src="img/polished-concrete-at-a-school.jpg" alt="Polished Concrete At A School">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-img">
                                    <img src="img/tile-pattern-deck-coating.jpg" alt="Waterproof deck coating with a tile pattern">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-img">
                                    <img src="img/metallic-epoxy-floor-in-waiting-room.jpg" alt="Metallic epoxy floor in business waiting room">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="about-box-layout3">
                    <div class="item-heading">
                        <h3 class="item-title">Request A Free Estimate</h3>
                        <p>We Are Happy To Provide You With A Quote!</p>
                    </div>
                    <form class="contact-form-box" id="contact-form-2" netlify action="/contact/thanks">
                        <div class="row">
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Name*" class="form-control" name="name" data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="email" placeholder="E-mail*" class="form-control" name="email" data-error="email field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Phone*" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <select class="select2" name="service">
                                    <option value="0">Epoxy Flooring</option>
                                    <option value="Australia">Decorative Concrete</option>
                                    <option value="England">New Concrete</option>
                                    <option value="London">Something Else</option>
                                    <option value="United States">Not Sure</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <select class="select2" name="type">
                                    <option value="0">Residential</option>
                                    <option value="Australia">Commercial</option>
                                    <option value="England">Industrial</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="How many square feet?" class="form-control" name="sqft" data-error="Estimated square footage field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="fw-btn-fill mg-t-10 bg-Primary text-textprimary">SEND<i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- About Us Area Start Here -->
<section class="about-wrap-layout3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-box-layout4">
                    <div class="about-box-img">
                        <div class="item-img">
                            <img src="img/stamped-concrete-around-a-swimming-pool.jpg" alt="stamped concrete around a swimming pool">
                        </div>
                        <div class="sl-number">01</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-box-layout4">
                    <div class="about-box-content">
                        <h2 class="item-title">Concrete Doesn't Have To Be Ugly</h2>
                        <div class="item-subtitle">With More Than Half a Century of Experience And thousands of Innovative</div>
                        <p>
                            If your concrete is spalling, chipped, cracked, stained or just boring and bland? 
                            It doesn’t have to be that way. We have a solution to fit any space, style and budget.
                            Our coatings are more durable, easier to maintain and way better looking than traditional concrete.
                        </p>
                        <a href="{{ site.url }}/services" class="ghost-btn-xl primary-border text-Primary mg-t-15">LEARN MORE<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="about-box-layout5">
                    <div class="about-box-img">
                        <div class="item-img">
                            <img src="img/reflector-enhancer-in-a-basement.jpg" alt="REFLECTOR Enhancer in a basement">
                        </div>
                        <div class="sl-number">02</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="about-box-layout5">
                    <div class="about-box-content">
                        <h2 class="item-title">Utah's Leading Concrete Contractor</h2>
                        <div class="item-subtitle">Over 20 Years Of Experience</div>
                        <p>
                            From Salt Lake City to Moab and everywhere in between we have been providing concrete coating services since 1996.
                            We regularly attend training seminars to make sure we are using the best products and techniques to give you the best
                            results imaginable.
                        </p>
                        <a href="{{ site.url }}/about" class="ghost-btn-xl primary-border text-Primary mg-t-15">LEARN MORE<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- Service Area Start Here -->
<section class="service-wrap-layout1 bg-accent bg-common" data-bg-image="img/figure/banner-shape1.png">
    <div class="container">
        <div class="heading-layout1 heading-light">
            <div class="item-subtitle">We've Done It All</div>
            <h2>Our Working Process</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="img/residential-flooring-services.jpg" alt="residential flooring services">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/services">Residential</a></h3>
                        <p>Our unique systems allow us to give you amazing looking floors that are tough enough for commercial environment, but elegant enough to live in your home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="img/commercial-flooring-services.jpg" alt="commercial flooring services">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/services">Commercial</a></h3>
                        <p>We offer flooring solutions perfect for offices, restaurants, air plane hangars, dental offices and wherever a tough great looking floor is needed.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="img/interior-flooring.jpg" alt="interior flooring">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/services">Interior & Exterior</a></h3>
                        <p>From driveways to skyscrappers our products and systems can provide with a durable, great looking and easy to clean flooring solution.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End Here -->
<!-- Project Area Start Here -->
<section class="project-wrap-layout1 bg-common" data-bg-image="img/project/project-bg.jpg">
    <div class="container">
        <div class="heading-layout1">
            <div class="item-subtitle">See Our Work</div>
            <h2>Our Latest Projects</h2>
        </div>
        <div class="row gutters-15">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/gray-epoxy-floor-in-aircraft-hangar.jpg" alt="Epoxy Floor In Aircraft Hangar">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">Aircraft Hangar Flooring</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/flake-epoxy-in-classroom.jpg" alt="Flake Epoxy Floor In A Classroom">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">Flake Epoxy Flooring</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/concrete-overlay-around-pool.jpg" alt="Concrete Overlay Around Pool">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">Decorative Concrete Overlay</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/wood-look-concrete.jpg" alt="wood look concrete">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">"Wood Look" Concrete</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/epoxy-garage-flooring.jpg" alt="epoxy garage flooring">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">REFLECTOR Enhancer Flooring</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="img/garage-floor-coatings.jpg" alt="decorative garage floor coatings">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{ site.url }}/projects">Durable Garage Floor Coatings</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Area End Here -->
<!-- About Us Area Start Here -->
<section class="about-wrap-layout1">
    <div class="about-box-layout1">
        <div class="about-box-content">
            <div class="item-header">
                <div class="experience-year">Over 20</div>
                <ul class="item-title">
                    <li>Years Of</li>
                    <li>Concrete <span>Experience</span></li>
                </ul>
            </div>
            <p>
                We have worked on small closets and 80,000 square feet warehouses. No matter your situation, style or budget we have something to fit your needs.

            </p>
            <a href="{{ site.url }}/about" class="btn-fill-xl bg-textprimary text-primarytext">ABOUT US<i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- Progress Area Start Here -->
<section class="progress-wrap-layout1 bg-common" data-bg-image="img/figure/banner-shape1.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="progress-box-layout1">
                    <div class="progress-content">
                        <div class="item-icon">
                            <i class="flaticon-apartment"></i>
                        </div>
                        <div class="item-content">
                            <div class="counter count-number" data-num="1050">1050</div>
                            <div class="count-title">Residential Projects Done</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="progress-box-layout1">
                    <div class="progress-content">
                        <div class="item-icon">
                            <i class="flaticon-industry"></i>
                        </div>
                        <div class="item-content">
                            <div class="counter count-number" data-num="1250">1250</div>
                            <div class="count-title">Commertial Projects</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="progress-box-layout1">
                    <div class="progress-content">
                        <div class="item-icon">
                            <i class="flaticon-helmet"></i>
                        </div>
                        <div class="item-content">
                            <div class="counter count-number" data-num="650">650</div>
                            <div class="count-title">Hard Working People</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="progress-box-layout1">
                    <div class="progress-content">
                        <div class="item-icon">
                            <i class="flaticon-happy"></i>
                        </div>
                        <div class="item-content">
                            <div class="counter count-number" data-num="3659">3659</div>
                            <div class="count-title">Our Satisfied Clients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Progress Area End Here -->
<!-- Blog Area Start Here -->
<section class="blog-wrap-layout1">
    <div class="container">
        <div class="heading-layout1">
            <div class="item-subtitle">What’s New Things</div>
            <h2>Latest News &amp; Updates</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="blog-box-layout1">
                    <div class="item-img">
                       <a href="single-blog1.html"><img src="img/blog/blog.jpg" alt="blog"></a>
                       <div class="top-item">
                            <div class="item-date">
                                <span class="days">17</span>
                                <span class="month">DAYS</span>
                                <span class="month">AGO</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <a href="#" class="item-tag">ROOFING</a>
                        <h3 class="item-title"><a href="single-blog1.html">Many important brands are given 
                            tree search us their trust.</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="blog-box-layout1">
                    <div class="item-img">
                        <a href="single-blog1.html"><img src="img/blog/blog1.jpg" alt="blog"></a>
                        <div class="top-item">
                            <div class="item-date">
                                <span class="days">4</span>
                                <span class="month">DAYS</span>
                                <span class="month">AGO</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <a href="#" class="item-tag">ROOFING</a>
                        <h3 class="item-title"><a href="single-blog1.html">Many important brands are given 
                            tree search us their trust.</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End Here -->
