---
layout: default
---

 <!-- Inne Page Banner Area Start Here -->
 <section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>{{ page.title }}</h1>
                    <ul>
                        <li>
                            <a href="{{ site.url }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/blog">Blog</a>
                        </li>
                        <li>{{ page.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here --> 
<!-- Single Blog Area Start Here -->
<section class="single-blog-wrap-layout1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="single-blog-box-layout1">
                    <div class="post-img">
                        <img src="{{ page.ftImg }}" alt="{{ page.title }}"> 
                    </div>
                    <div class="item-content">
                        <ul class="entry-meta">
                            <li><i class="fas fa-user"></i>by <a href="{{ site.url }}" class="author">Elite Concrete Utah</a></li>
                        </ul>
                        </div>
                        </div>
                    
                        
{{ content }}
            <div class="col-lg-4 sidebar-break-md sidebar-widget-area">
                <div class="widget widget-search-box">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search Keywords ...">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="fas fa-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="widget widget-service">
                    <div class="heading-layout3 mg-b-0">
                        <h3 class="mg-b-8">Categories</h3>
                    </div>
                    <div class="service-list">
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Roof Repair</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Siding</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Insulation</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Gutters</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Inspection</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-long-arrow-alt-right"></i>Replacement</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-post">
                    <div class="heading-layout3">
                        <h3>Popular Posts</h3>
                    </div>
                    <div class="media">
                        <div class="item-img">
                            <a href="#">
                                <img src="img/blog/blog8.jpg" alt="News">
                            </a>
                        </div>
                        <div class="media-body space-sm">
                            <h5 class="post-title">
                                <a href="#">We won best factory  award of the ...</a>
                            </h5>
                            <div class="post-date">Jan 24, 2019</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="item-img">
                            <a href="#">
                                <img src="img/blog/blog9.jpg" alt="News">
                            </a>
                        </div>
                        <div class="media-body space-sm">
                            <h5 class="post-title">
                                <a href="#">We won best factory  award of the ...</a>
                            </h5>
                            <div class="post-date">Jan 24, 2019</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="item-img">
                            <a href="#">
                                <img src="img/blog/blog10.jpg" alt="News">
                            </a>
                        </div>
                        <div class="media-body space-sm">
                            <h5 class="post-title">
                                <a href="#">We won best factory  award of the ...</a>
                            </h5>
                            <div class="post-date">Jan 24, 2019</div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="item-img">
                            <a href="#">
                                <img src="img/blog/blog11.jpg" alt="News">
                            </a>
                        </div>
                        <div class="media-body space-sm">
                            <h5 class="post-title">
                                <a href="#">We won best factory  award of the ...</a>
                            </h5>
                            <div class="post-date">Jan 24, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-tag">
                    <div class="heading-layout3">
                        <h3>Tags</h3>
                    </div>
                    <ul class="tag-list">
                        <li><a href="#">Roofing</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Repair</a></li>
                        <li><a href="#">Architecture</a></li>
                        <li><a href="#">Construction</a></li>
                        <li><a href="#">Roofing</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Repair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Blog Area End Here -->