 <!-- Slider Area Start Here -->
 <section class="slick-slider-wrap-layout1">
    <div class="slick-slider-layout1">
        <div class="slick-carousel slick-content" data-slick='{
            "slidesToShow": 1,
            "slidesToShowTab": 1,
            "slidesToShowMobile": 1,
            "slidesToShowMobiles": 1,
            "slidesToScroll": 1,
            "speed": 1000,
            "autoplaySpeed": 2000,
            "dots": false,
            "arrows": false,
            "lazyLoad": "progressive",
            "pauseOnHover": true,
            "autoplay": true,
            "centerMode": true,
            "adaptiveHeight": false,
            "rtl": false,
            "asNavFor": ".slick-nav"
            }'>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h1.png" alt="decorative concrete overlays">
                    <div class="item-content">
                        <div class="big-text">Concrete Overlays</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h2.png" alt="epoxy flooring installer">
                    <div class="item-content">
                        <div class="big-text">Epoxy Flooring</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h3.png" alt="polished concrete floor">
                    <div class="item-content">
                        <div class="big-text">Concrete Polishing</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h4.png" alt="commercial flooring solutions">
                    <div class="item-content">
                        <div class="big-text">Commercial Floor Coatings</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h5.png" alt="residential flooring">
                    <div class="item-content">
                        <div class="big-text">Residential Flooring</div>
                    </div>
                </div>
            </div>
            <div class="slick-slider">
                <div class="item-img">
                    <img src="img/h6.png" alt="Industrial flooring contractor">
                    <div class="item-content">
                        <div class="big-text">Industrial Coatings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-nav-wrap">
            <div class="container">
                <div class="slick-carousel slick-nav" data-slick='{
                    "slidesToShow": 6,
                    "slidesToShowTab": 5,
                    "slidesToShowMobile": 3,
                    "slidesToShowMobiles": 2,
                    "slidesToScroll": 1,
                    "speed": 1000,
                    "autoplaySpeed": 2000,
                    "dots": false,
                    "arrows": false,
                    "lazyLoad": "progressive",
                    "pauseOnHover": true,
                    "autoplay": true,
                    "focusOnSelect": true,
                    "centerMode": false,
                    "adaptiveHeight": false,
                    "rtl": false,
                    "asNavFor": ".slick-content",
                    "prevArrow": "<span class=\"slick-prev slick-navigation\"><i class=\"flaticon-back\"></i></span>",
                    "nextArrow": "<span class=\"slick-next slick-navigation\"><i class=\"flaticon-next\"></i></span>"
                    }'>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-4"></i>
                        </div>
                        <h4 class="item-title">Concrete Overlays</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof"></i>
                        </div>
                        <h4 class="item-title">Epoxy Flooring</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-1"></i>
                        </div>
                        <h4 class="item-title">Concrete Polishing</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-3"></i>
                        </div>
                        <h4 class="item-title">Commercial</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-roof-2"></i>
                        </div>
                        <h4 class="item-title">Residential</h4>
                    </div>
                    <div class="nav-item">
                        <div class="item-icon">
                            <i class="flaticon-broken-house"></i>
                        </div>
                        <h4 class="item-title">Industrial</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Area End Here -->